.Home {
    header {
      background-image: url(../imagens/TjFCbaY1rW.jpeg);
      background-size: cover;
      background-position: center;
      width: 620px;
      height: 439px;
    }
    div {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  